.flagDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 12px;
    align-items: stretch;
}

.flag {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    cursor: pointer;
    max-width: 90px;
}

.addFlagInput {
    width: 90px;
}

.addFlagTag {
    width: 90px;
    border-style: dashed;
    cursor: text;    
}