.flags {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.flagButton {
  margin-right: 12px;
}

.flagButton div {
  display: flex;
  flex-direction: column;
}

.flagButton button {
  height: 100%;
  width: 40px;
}

.alignVertical {
  display: flex;
  align-items: center;
}

.userIcon {
  margin-right: .2em;
}

.shortcutOption {
  white-space: pre-wrap
}