.panels {
  width: 100%;
}
    
.spin {
  width: 100%;
}

.buttonBox {
  display: flex;
  flex-direction: row;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveButton {
  flex: 1
}

.helpMessageDiv {
  display: flex;
  align-items: center;
}

.helpMessage {
  flex: 1
}
