.predictions-scatterplot__container {
  height: 175px;
  cursor:  pointer;
}

.predictions-scatterplot__tooltip {
  line-height: 1;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.25rem;
}

.ant-row.ant-form-item {
  margin: 8px 0;
}

@media screen and (min-width: 992px) {
  .legend {
    min-height: 90px;
    flex-direction: column;
    justify-content: center;
  }
  .ant-row.ant-form-item {
    margin: 0 0 8px 0;
  }
}

.legend .legend-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}
