.predictions-scatterplot__container {
  height: 175px;
  cursor:  pointer;
}

.predictions-scatterplot__tooltip {
}

.legend {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.25srem;
}

