.annotationPanel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flagButton {
    margin-left: 10px;
}

.flagButton button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popoverContent {
    display: flex;
    align-items: center;
}

.popoverSwitch {
    margin-left: 5px;
}