/*
* this styles the icon inside the copyable route ID inside the Text component.
* this line causes the copy icon to be vertically aligned with the text to its left.
*/
.ant-typography-copy {
  display: inline-flex !important;
}

.route-table-map {
  background-color: #eee;
  height: 100%;
  color: #345;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
