.scene {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 33%;
}

.checkIcon {
  margin: 0;
  position: 'absolute';
  top: '50%';
  left: '50%';
  z-index: 1;
  text-align: 'center';
  font-size: '64px';
  transform: 'translate(-50%, -50%)';
  pointer-events: 'none';
  filter: 'drop-shadow(5px 5px 4px #000' 
}