.scene {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.imageDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 33%;
}