.navigation-buttons-container {
  display:  flex;
  justify-content: center;
  align-items: center;
}

.navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-slider {
  flex: 1;
}